.conteiner{
	width: 1170px;
	margin: 0 auto ;
}
header{
	background-image: url("img/Rectangle 2.png");
	padding-top: 13px;
	padding-bottom: 12px;
	background-attachment: fixed;

	 }
 header a{
 	color: #fff;
 }
 ul, li{
 	display: block;
 	padding: 0;
 	margin: 0;
 }
 .menu , .seti{
 	display: flex;
 }
 .col{
 	color:#524949;
 	text-decoration: underline white;
 }
 .menu li a {
 	font-size: 24px;
 	font-family: Old Standard TT;
 	text-decoration: none;
 }
 .menu li{
 	margin-right: 130px;
 }
 .nav{
 	display: flex;
 	align-items: center;
 }
 .logo{
 	margin-left: -52px;
 	margin-right: 170px;
 }
 .seti li{
 	margin-right: 25px;
 }
 body{
 	width: 100%;
 	background-image: url("img/bg1.png");
 	background-repeat: no-repeat;
 	margin: 0;
 	position: relative;
 	background-size: cover;
  }

 .ocupus{
 	margin-top: 13px;
 	margin-left: 62px;
 	width: 274px;
 	height: 467px;
 	 }

 .line{
margin-top: 38px;
height: 300px;

}
.ocupus,.line{
	display: flex;

}
.conteiner{
	display: flex;
}
.text{
	color: white;
	font-size: 64px;
	font-family: Old Standard TT;
	margin-top: 40px;

}
.btn{
	width: 359px;
	height: 70px;
	border-radius: 26px;
	background-color: rgba(235, 230, 230, 0.4) ;
	margin-left: 515px;
	margin-top: 0px;
	font-size: 36px;
	font-family: Old Standard TT;
	color: black;
	border:none;
	

}
.btn a {
	text-decoration: none;
	color: black;
	
}


@media screen and (max-width: 1200px){
	.conteiner{
		width: 1140px;
	}
}
@media screen and (max-width: 1199px){
	.conteiner{
		width: 960px;
	}
}
@media screen and (max-width: 991px){
	.conteiner{
		width: 720px;
	}
}
@media screen and (max-width: 767px){
	.conteiner{
		width: 540px;
	}
}
@media screen and (max-width: 575px){
	.conteiner{
		width: 100%;
		padding: 0 15px;
	}
}